# .env.example
# URL del Web App de Google Apps Script para sincronizar datos con Google Sheets
VITE_GOOGLE_SHEETS_URL=https://script.google.com/macros/s/AKfycbx9JJ4mGmmgRSA0NJX9Sv9AkAafjdJ5k3KQuAmabzwza_h_Ng62PmAEQmUKUwSzB63BZw/exec